h1 プロフィール
p アバター
p= @user.avatar? ? image_tag(user.avatar.url) : image_tag('fallback/default_user_avatar.png')
p　名前　
p= @user.name 

p 母国語
p= @user.native_language_id 


div style="float:right"
  = link_to 'プロフィール編集', edit_profile_path(current_user), class: 'btn btn-primary'
