
<%= form_with(model: [question, answer] ) do |form| %>
  <div>
    <%= form.text_area :content, cols: 30, rows: 3 %>
  </div>
  <div class="actions">
    <%= form.submit "コメントをする" %>
  </div>
<% end %>